<div class="row">
  <div class="col-md-4">
    <pm-product-list
      [errorMessage]="errorMessage$ | async"
      [displayCode]="displayCode$ | async"
      [products]="products$ | async"
      [selectedProduct]="selectedProduct$ | async"
      (checked)="checkChanged($event)"
      (initializeNewProduct)="newProduct()"
      (selected)="productSelected($event)"
    ></pm-product-list>
  </div>
  <div class="col-md-8">
    <pm-product-edit
    [product]="selectedProduct$ | async"
    [errorMessage]="errorMessage$ | async"
    (deleteProd)="deleteProd($event)"
    (clearCurrentProd)="clearCurrentProd()"
    (createProd)="createProd($event)"
    (updateProd)="updateProd($event)"
    ></pm-product-edit>
  </div>
</div>
